.footer {
    background-color: #f5f5f5;
    padding: 30px;
    color: #623232;
    font-size: 16px;
    
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-column {
    flex: 1 1 300px;
    margin-bottom: 20px;
  }
  
  .footer-column h4 {
    margin-bottom: 10px;
  }
  
  .social-icons a {
    color: #333;
    margin-right: 10px;
  }
  
  .footer-bottom {
    background-color: #ddd;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    margin: 0;
  }