/* media query */
@media only screen and (max-width: 600px) {
    .chefContainer{
      padding:10%;
      grid-template-columns: 1fr  ;
    }
    .card{
      margin-top: 20px;
    }
    
  }
  @media only screen and (min-width: 600px) {
    .chefContainer{
      display:grid;
      gap:25px;
      grid-template-columns: 1fr 1fr;
    }
    
  }
  @media only screen and (min-width: 900px) {
    .chefContainer{
      display:grid;
      
      grid-template-columns: 1fr 1fr 1fr;
    }
    
  }
  @media only screen and (min-width: 1200px) {
    .chefContainer{
      gap:50px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
  }